node_modules
.env
*.log
.next
__pycache__
*.pyc
*.pyo
*.pyd
.Python
frontend/.next
backend/__pycache__
backend/app/__pycache__
backend/app/api/__pycache__
backend/app/core/__pycache__
backend/app/db/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__
